extends layout_adm

block content
  div(class="hero-image")
    div(class="hero-content")
      div(class="hero-content-inner")
        h1 Brand: #{brand.name}
        p(class="linkedParagraph") #{brand.lifespan}

        div

          h2 Models

          div
            dl
              each model in brand_models
                li(class="bikeSummary")
                  dt
                    a(class="linkedText" href=model.url_adm) #{model.model_name}
                  p(class="modelinfo") Power: #{model.power} hp

              else
                p(class="emptyList") This brand has no models.

        hr
        p(class="linkedParagraph")
          a(class="linkedText" href=brand.url_adm + '/delete') Delete brand
        p(class="linkedParagraph")
          a(class="linkedText" href=brand.url_adm + '/update') Update brand
